<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-sky-900 py-6 sm:py-12">
  <div class="relative bg-white bg-opacity-10 px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
    <div class="mx-auto max-w-md">
      <div class="flex justify-center items-center">
        <img src="assets/images/stroerLogo.png" class="h-10 drop-shadow-lg" alt="Stroer logo" />
      </div>
      <div class="divide-y divide-gray-300/50">
        <div class="space-y-6 py-6 text-base leading-7 text-white text-center">
          <p class="mb-4 pb-4">We understand that life is not only about work and we believe that happy and rested people are the cornerstone of success. Work time flexibility is not just an empty promise.</p>
          <a type="button" class="uppercase px-6 py-2 rounded-lg border-orange-500 border-2 hover:bg-orange-500 text-orange-500 drop-shadow-xl group hover:text-sky-900" href='/staff'><span>Learn more</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
